html
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  overflow-x hidden
  overflow-x clip

html, body
  font-family: var(--font-family);
  color: #333;
  overscroll-behavior: none;
  user-select: none;

code
  font-family Consolas, "Roboto Mono", "Courier New", Courier, monospace

.flex
  display flex
  align-items center

.flex-c
  display flex
  justify-content center
  align-items center

.flex-sb
  display flex
  justify-content space-between
  align-items center

.bg-none
  background none !important

.icon
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;

.cell
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 28px;

  .icon
    font-size: 50px;
    margin-top: -10px;
    margin-right: 4px;
    vertical-align: middle;

  .title
    font-size: 32px;

.artwork
  .title,.author,.caption
    user-select text
.users
  .detail,.name
    user-select text

.image-preview
  background: #333;

.censored
  position: relative
  filter: blur(60PX)
  pointer-events none

.image-card:has(.censored)
  pointer-events none

.van-list .image-card
  box-shadow: 0 3PX 1PX -2PX rgba(0,0,0,.2), 0 2PX 2PX 0 rgba(0,0,0,.14), 0 1PX 5PX 0 rgba(0,0,0,.12)

.wf-grid .image-card:has(.censored),
.flexbin .image-card:has(.censored),
.image-card:has(.censored) .meta,
.ia-left .censored
  display none !important

#app
  .van-button
    border-radius 4px
  .top-bar .van-nav-bar__left
    padding 0 0.35rem

.com_sel
  &_tabs
    display flex
    justify-content center
    width 100%
    padding-bottom 20px
    text-align center
    box-sizing border-box
    .com_sel_tab:not(:last-child)
      margin-right 18px
  &_tab
    display flex
    justify-content center
    align-items center
    height 60px
    font-size 28px
    padding 0 16px
    border-radius 10px
    color #333
    background #eee
    box-sizing border-box
    cursor pointer
    &.cur
      cursor: auto
      background: #f2c358;

.user_avatar,
.avatar,
.avatar img,
.author-card .cell .icon
  object-fit: cover

.History.illusts
  padding: 0 0.15rem 0.5rem;

.setting-page
  max-width 750px
  margin 0 auto 160px

  #top-bar-wrap
    width 1.6rem
    height auto
    padding-top 0.3rem
    background transparent

  .hibiapi-actions .van-action-sheet__name
    display inline-block
    width 100%
    white-space nowrap
    text-overflow ellipsis
    overflow hidden

  .van-button
    padding 0 0.3rem

  .van-popup--bottom
    width 10rem
    left 50%
    margin-left -5rem

  .af_title
    position relative
    margin-top 40px
    margin-bottom 60px
    text-align center
    font-size 28px

  .api-chk .van-action-sheet__item, .img-chk .van-action-sheet__item
    padding: 7px 16px
  .api-chk .van-action-sheet__name, .img-chk .van-action-sheet__name
    color #323233 !important
  .api-chk .van-action-sheet__subname, .img-chk .van-action-sheet__subname
    margin-top -3px
    color inherit !important

.loading-fixed
  position fixed !important
  top 45vh !important
  left 50% !important
  transform translateX(-50%) !important

.van-tabs__content--animated,
.van-overflow-hidden
  overflow initial !important
html:has(.van-tabs__content--animated)
  overflow-x hidden
  overflow-x clip

.fancybox__toolbar__column.is-right
  .f-button:first-child
    border-bottom-left-radius 0.25rem

.swiper-container
  --swiper-theme-color: #fcb93e

.swiper-pagination-bullet
  width 0.2rem
  height 0.2rem

.swiper-container-horizontal>.swiper-scrollbar
  bottom: .04rem;
  height: .06667rem;

.swiper-container-initialized
  .swiper-button-prev, .swiper-button-next
    opacity: 1

.swiper-button-prev, .swiper-button-next
  top: 0
  right: 0
  width: 2rem
  height: 97%
  margin-top: 0
  color: #ffd745
  background-image: linear-gradient(270deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%)
  transition: opacity 0.2s
  opacity: 0
  &.swiper-button-disabled
    opacity: 0
  &:after
    filter: drop-shadow(0.02667rem 0.05333rem 0.05333rem rgba(0,0,0,0.8));

.swiper-button-prev
  left: 0
  right: auto
  background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%)

@media screen and (max-width: 600px)
  .swiper-button-prev, .swiper-button-next, .swiper-scrollbar
    display none
  .search .com_sel_tabs
    justify-content: flex-start !important
    max-width: 92vw !important
    overflow-x: auto
    &::-webkit-scrollbar
      width: 0
      height 0
    .com_sel_tab
      min-width fit-content
  .comments-popup
    top: unset;
    bottom: 0;
    transform: none;
    .comments-area
      height 80vh
      min-height 80vh !important
    .show-more
      padding-bottom 0.4rem

@font-face
  font-family: 'Dosis';
  src: local('Dosis Regular'), local('Dosis-Regular'), url('../fonts/dosis-v7-latin-ext_latin-regular.woff') format('woff');

::-webkit-scrollbar
  width: 12px;
  height: 12px;

::-webkit-scrollbar-track
  background: #e6e6e6;
  border-left: 1px solid #dadada;

::-webkit-scrollbar-thumb
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;

::-webkit-scrollbar-thumb:hover
  background: black;

@media screen and (max-width: 500px)
  ::-webkit-scrollbar
    width: 0;

  .app-main:has(.home-i)
    padding-right 0 !important
  #app .home-i
    .rank-card
      padding-right 0 !important
    .image-list-comp
      margin-right 0.10667rem !important

  .justified-container
    padding: 0 0.2rem;
  .justified-container .image-card
    width 100% !important
  .justified-container .image-card.isOuterMeta
    display: flex
    flex-direction: column
    margin-bottom: 0.35rem
    border-radius 20PX
    background: #fafafa;
    box-shadow: 0 3PX 1PX -2PX rgba(0, 0, 0, 0.2), 0 2PX 2PX 0 rgba(0, 0, 0, 0.14), 0 1PX 5PX 0 rgba(0, 0, 0, 0.12);
    .image-card-wrapper
      order: 2
      &, & .image
        border-radius 0
    .outer-meta
      order: 1
      .content
        padding-top 0.22rem
        padding-left: 1.5rem;
      .avatar
        position: absolute;
        top: 50%;
        left: 0.4rem;
        transform: translateY(-50%);
        width: 0.9rem;
        height: 0.9rem;
      .title
        font-size: 0.42rem
      .author
        font-size: 0.35rem

  .rank-card
    margin-bottom 0.2rem !important

  .image-card
    .title, .author
      user-select none

html:has(.dark)
  color-scheme: dark
  background #16161a
  color #fff
  ::-webkit-scrollbar
    width: 10px;
    height: 5px;
  ::-webkit-scrollbar-thumb
    border-color: transparent
  ::-webkit-scrollbar-track
    background #16161a
    border-color: transparent
  ::-webkit-scrollbar-thumb:hover
    background: #e6e6e6;

.dark
  background #16161a
  color #fff
  .dl-pop,
  .dl-page-select,
  .van-dialog,
  .van-button,
  .comments-popup,
  .van-popup--center[style*="80vw"]
    background #333
    color #fff !important
  .van-dialog__message--has-title
    color #fff
  a
    color #dba5ff
  .translate-settings-popup,
  .llm-model-select-popup
    background #16161a !important
    color #fff !important
    .van-search
      background #16161a !important
    .van-search__content
      background #333 !important
    .van-cell,
    .van-cell-group,
    .van-cell-group__title,
    .van-field__label,
    .van-radio__label
      background transparent !important
      color #fff !important

.dark #app
  min-height 100vh
  &,
  .app-main,
  .home-i,
  .home-m,
  .home-n,
  .van-cell,
  .image-card,
  .users,
  .illusts,
  .van-popup,
  .van-calendar,
  .van-tabs__nav,
  .van-tab,
  .van-button,
  .van-collapse-item__content,
  .van-share-sheet__cancel,
  .van-action-sheet__cancel,
  .van-action-sheet__item
    background #16161a
    color #fff

  .nav_divi
    background #fff

  .van-pagination__item
    background-color transparent

  .user-wrap,
  .user-illusts
    height auto

  .sup_tags .van-tag
    background none

  .rank-card .spec_wp,
  .image-card
    // border 1PX solid #aaa
    border 0
    // border-radius: 0.26667rem;

  .nav-container
    @media screen and (max-width: 450px)
      height 110px
  .nav-container .nav-bar
    box-shadow 0 0 0.26667rem #222
    background rgba(0,0,0,0.7)
    li
      display flex
      justify-content center
      align-items center
      flex-direction column
      color #fff
    .icon
      display none
    .van-icon
      margin-bottom 0.1rem
      font-size 0.36rem
      &.active,
      &.active + span
        color: #f2c358
      @media screen and (max-width: 450px)
        font-size 22PX
        & + span
          font-size 12PX
    span
      display inline-block

  .com_sel_tab,
  .rank .nav a,
  .Following .van-tab:not(.van-tab--active) .van-tab__text
    background #777
    color #fff
    &.cur
      background: #f2c358;
      color #333

  .van-cell::after,
  .van-action-sheet__description::after
    border-bottom: 1px solid #555;

  .setting-page .api-chk .van-action-sheet__name,
  .setting-page .img-chk .van-action-sheet__name
    color #eee !important

  .van-button--plain
    background rgba(0,0,0,0)
    border-color #aaa
    color #fff

  .van-share-sheet__cancel::before,
  .van-action-sheet__gap
    background #555
    height 1px

  .van-share-sheet__title,
  .van-share-sheet__name,
  .van-field__label
    color #fff

  .novel-card,
  .series-cont,
  .search .keyword
    background #333

  .conf-slider .van-slider__button
    background #777

  .rank .top
    background rgba(0,0,0,0.8)

  .search .search-bar-wrap .search-bar,
  .search .search-bar-wrap .van-search__content,
  .search .com_sel_tabs,
  .Home .com_sel_tabs
    background #16161a
    backdrop-filter: none
    -webkit-backdrop-filter: none

  .show_pop_icon,
  .search_popular_icon
    .icon
      position relative
      z-index 2
    &::before
      content ''
      position absolute
      z-index 1
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 1.25em
      height 1.25em
      border-radius 50%
      background #ddd

  .search_popular_icon
    position relative
    text-align center
    display inline-block
    margin-top 0.2rem
    margin-right 0.2rem
    .icon
      margin-right 0
      vertical-align: -0.25em;
    &::before
      width 2em
      height 2em

  .search-dropdown
    background #16161a

  .search_params
    .van-dropdown-menu__bar
      box-shadow none
    .van-dropdown-menu__title
      color #fff

  .van-calendar__header
    box-shadow none

  .van-search__content
    border 1PX solid #aaa
    &,
    .van-cell
      background-color: transparent !important

  .rank .top
    left 0
    .calendar .date
      color #fff

  .image-card .meta::before
    height 100%

  .setting .app-title img
    display none

  .van-switch
    background #aaa
  .van-switch--on
    background #8ca8ff

  .van-dialog
    .van-cell,
    .van-button
      background #333 !important
    .van-cell__value
      color #fff

  .van-radio__label,
  .van-field__control
      color #fff

  .ia-cont .ia-right .artwork-meta
    background none
  .artwork-meta .tag-list
    color #b79ffd
  .artwork-meta .date .view
    color #8ca8ff
  .novel-view
    background #16161a !important
    &+.collapse-btn
      background #16161a !important

  .novel_text
    color #b6b6b6 !important
  .novel-view.shrink::after,
  .image-view.shrink::after
    background: linear-gradient(to top, #16161a, rgba(0,0,0,0));
  .ia-right .shrink::after
    background: linear-gradient(to top, #16161a, rgba(0,0,0,0));
  .users
    .info-container .detail .content
      color #ccc
      & + .more
        color #fff
      &::after
        background: linear-gradient(to top, #16161a, rgba(0,0,0,0));

    .info-container .num
      color #bbb

  .image-slide
      border 1PX solid #16161a

  .artwork-meta .whid .svg-icon,
  .artwork-meta .tag-list .tag,
  .users .user_id_sns .svg-icon
      filter: invert(1) hue-rotate(180deg)

  .artwork-meta .author-info.hidePIDMask+div[style*="background"]
    opacity 0

  .ss-title,
  .ss-author,
  .live_list .content,
  .live_detail .content
    color #fff
  .live_detail .content .chats
    background #16161a

.user-container .user-tabs .van-tag--mark
  font-weight bold

.van-pagination__next, .van-pagination__prev
  width 1rem

.artwork-meta .date,
.artwork-meta .whid,
.van-pagination__page,
.image-card .layer-num,
.user-container .user_id,
.user-container .follow .num,
.user-container .friend .num,
.user-container .user-tabs .van-tag--mark,
.user-container .member-tag .member-tag-cnt
  font-family Bahnschrift,Dosis,Arial,Helvetica,sans-serif

.user-container .user_account,
.image-card .tag-r18-ai
  font-family Bahnschrift, Helvetica, Arial, sans-serif

.user-container .user_link,
.artwork-meta .pid_link
  font-family Georgia, Helvetica, Arial, sans-serif

.artwork .conf-inp
  .van-radio--horizontal
    margin-right 0
  .van-radio-group--horizontal
    gap 6px 12px

.setting-actions .conf-fcont
  align-items flex-start !important

#sel_block_dialog, #get_pnt_nots_dialog
  display flex
  flex-direction column
  margin-top: -0.9rem
  .sel_block_chks
    display flex
    align-items center
    gap .15rem

.rank-card .spec_wp
  overflow hidden

// .Spotlights .image-card, .rank-card .spec_wp
//   img[lazy="loaded"]
//     transform none
//     transition transform 0.5s
  // @media screen and (min-width: 1280px)
  //   &:hover img
  //     transform scale(1.1)

.card-box .swipe-item .image-card-wrapper
  height 100%
  padding-bottom 0 !important

.image-card,
.image-card .image,
.image-card-wrapper,
.rank-card .spec_wp,
.rank-card .spec_wp .sp_info::before,
.card-box .swipe-item .image-card,
.card-box .swipe-item .image-card .outer-meta::before,
.Spotlights .image-card,
.Spotlight .image-card .outer-meta::before,
.illusts .user_info
  border-radius: 12PX;

.image-card-no-radius
  .image-card,
  .image-card .image,
  .image-card-wrapper,
  .rank-card .spec_wp,
  .rank-card .spec_wp .sp_info::before,
  .card-box .swipe-item .image-card,
  .card-box .swipe-item .image-card .outer-meta::before,
  .Spotlights .image-card,
  .Spotlight .image-card .outer-meta::before,
  .illusts .user_info,
  .ia-cont .ia-left .image-box .image,
  .image-slide,
  .tags .tag,
  .tags .tag img,
  .tags .tag .meta,
  .search .tags .meta::after,
  .Spotlight .sp_desc .am__work__main img
    border-radius: 0 !important;

.image-card-no-shadow
  .image-card,
  .ia-left .image-box,
  .ia-left .image,
  .Spotlight .sp_desc .am__work__main img,
  .users .info-container .avatar img
    box-shadow none !important

.image-card .btn-play
  font-size 1.2rem !important

.swiper-wrapper
  will-change: transform
  backface-visibility: hidden

.swiper-slide .image
  transform none !important
  transition none !important

.author-card .swiper-slide .image-card-wrapper
  height 100%
  padding-bottom 0% !important

.Discovery,
.HomeRecommIllust,
.Spotlight,
.History,
.card-box .swipe-item
  .image-card-wrapper .meta
    background: rgba(0,0,0,.04);

.search .tags .meta
  &::after
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background: rgba(0,0,0,.04);
    border-radius: 0.10667rem;

.Spotlight,
.card-box .swipe-item
  .image-card .outer-meta
    transform translateY(-100%)
    &::before
      position: absolute;
      content: '';
      bottom: 0;
      width: 100%;
      height: 120%;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
      // border-radius: 0.26667rem;
    .content
      color #fff !important

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

.fadeIn
  animation fadeIn 0.5s

.van-action-sheet__content::-webkit-scrollbar
  width 0.17333rem

.noImgFillScreen
  .Home,
  .image-layout,
  .image-list-comp,
  .rank .top,
  .search .tags,
  .member-tags,
  .user-tabs .van-tabs__nav,
  .History .h-tabs .van-tabs__nav,
  .artwork .related > .cell,
  .search .search_params + .rank-card > .cell,
  .search .TagStorySlides,
  .search-user .list-wrap,
  .discovery_restrict,
  .collections_restrict,
  .nifs-list-cont
    max-width 1200PX
    margin-left auto !important
    margin-right auto !important
  .rank .top
    left 50% !important
    transform translateX(-50%)
  .justified-container .image-card
    --jstf-w: 265;
    --jstf-w-px: 265PX;
  .users .van-tabs__nav
    padding-left 0 !important
    padding-right 0 !important
    overflow-y unset
    border-bottom-left-radius 8PX
    border-bottom-right-radius 8PX
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), var(--accent-color, #f7f8fa);
  @media screen and (min-width: 1280px)
    .search .search-bar-wrap .search-bar
      padding: 10px 7rem !important
    .search .search-bar-wrap .search-bar-word
      left: 8rem !important
      top: 0.72rem !important
    .search .image-search
      right: 7rem !important
      top: 0.4rem !important

@media screen and (min-width: 1400px)
  #app .noImgFillScreen .Home .home-i-tabs
    justify-content: space-between;
    padding: 0.3rem calc(50vw - 600PX);
    .home-title
        position: relative;
        order: 1;
        margin-left: 0.2rem;
        transform: none
        left: unset
        top: unset
    .sel-tabs
        order: 3;
    .home-search
        order: 2;
        position: relative;
        transform: none
        left: unset
        top: unset

#app .navbar-alt-style .nav-container .nav-bar
  width: 90%;
  transform: translateY(-0.4rem);
  border-radius: 1rem;
  li:has(.active)
    color: var(--accent-color, #f2c358)
    &::before
      content ''
      position absolute
      top 50%
      left 50%
      z-index -1
      transform translate(-50%, -50%)
      width 100%
      height 88%
      border-radius: 1rem
      background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.9)), var(--accent-color, #f2c358)
  @media screen and (min-width: 1280px)
    // transform: translateX(-0.2rem);
    transform: translateX(0.1rem);
    li:has(.active)
      &::before
        display none

.app-main:has(.live_detail)
  border-top 4PX solid #F2C358

.color-gray
  color: gray
.imt-res-text
  color: gray
  &,& .immersive-translate-target-translation-theme-background-inner
    padding 0 !important
    background transparent !important

#immersive-translate-popup
  display none !important
html:has(.novel_text) #immersive-translate-popup
  display block !important

html[style*="NanoOldSong-A"] div
  transform rotateY(180deg)

.van-popover__action
  &.imt,&.sc,&.ms,&.gg,&.yd
    width 220px

#app .ia-left .image-box .img3
  transition opacity,transform 0.5s
  opacity 1
  &[lazy="loading"]
    opacity 0
.ia-left .image-box:has(.img3[lazy="loading"])
  &::after
    content ''
    position absolute
    top: 50%;
    left: 50%;
    width: 1.6rem !important;
    height: 1.6rem !important;
    margin-left: -0.8rem !important;
    margin-top: -0.8rem !important;
    transform: scale(0.9);
    background url('@/icons/loading.svg') no-repeat center center / contain
    border-radius: 5PX;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 1PX 3PX 0 rgba(0, 0, 0, 0.1), 0 1PX 2PX -1PX rgba(0, 0, 0, 0.1);

.hide-home-search
  .Home .com_sel_tabs .home-search
    display none !important
  @media screen and (max-width: 999px)
    .Home .home-i-tabs
      justify-content center
      padding-left 0.3rem
      .sel-tabs .com_sel_tab:last-child
        margin-right 0
    .Home .com_sel_tabs .home-title
      display none !important
    .Home .com_sel_tabs .sel-tabs
      max-width: 92vw
      overflow-x: auto
      justify-content: flex-start
      &::-webkit-scrollbar
        width: 0
        height 0

#app .users .info-container .info .detail.ex
  max-height: 5.33333rem
  overflow-y auto
  &::-webkit-scrollbar
    width: 0.17333rem
#app .users .info-container .info .share_btn
  display none
@media screen and (min-width: 1280px)
  #app .users
    .van-tabs__nav
      padding-left 5vw
      padding-right 5vw
      .van-tab
        flex none
        min-width 2rem
        &:first-child
          margin-left 0.21333rem
      .van-tabs__line
        width 1.2rem
        height 4PX
        border-radius 0
    .share_btn
      display none
    .info-container .info
      display flex
      flex-direction column
      justify-content start
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 0.4rem;
      .avatar
        top: -0.7rem
        left: 5.5rem;
        transform: none;
      >*:not(.avatar)
        margin-left 0
        margin-right 0
        padding-left 3.7rem !important
        padding-right 0
        text-align left
      >span
        display inline-block
        width fit-content
      .name
        max-width calc(100% - 7rem)
        margin-bottom 0.5rem
      .follow_btn
        position: absolute;
        top: 0.1rem;
        right: 6rem;
        padding-left 0 !important
      .share_btn
        position absolute
        top: 0.25rem;
        right: 5rem;
        display block
        padding-left 0 !important
      .site-list
        display inline-flex
        justify-content start
      .detail
        margin-top: 0.26667rem;
        padding-right 0 !important
        .content
          margin-left 0 !important
          margin-right 0 !important

body.dark::before
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #16161a;

.van-dialog__content
  user-select text !important

.download-toast
  transform: none !important
  top: unset !important
  bottom: 10PX !important
  left: unset !important
  right: 10PX !important
  max-width: 5rem !important
  max-height: 36PX !important
  white-space: nowrap !important
  .van-toast__text
    width 100% !important
    overflow hidden !important
    white-space: nowrap !important
    text-overflow: ellipsis !important
  for i in 3..18
    &:nth-child({i})
      bottom ((i - 2) * 42 + 10) * 1PX !important

.search_param_sel .van-dropdown-item__option
  justify-content center
  gap 0.2rem
  > div
    flex none
  &:not(.van-dropdown-item__option--active)
    .van-cell__title
      margin-right: 0.45rem

.search_params:has(.showPopPreview)::after
  display none

.artwork.isSafari .ia-cont,
.artwork.novel .ia-cont.isSafari
  .ia-left
    align-items start
    max-height 100vh
    overflow-y auto
